.headerIn{
    color:rgb(33, 118, 197);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 400px;
    margin-top: 70px;
    font-size: 60px;
    margin-bottom: 30px;
    
    
    }
    .link1{
    margin-left: 110px;
    

    }
    
    .a{
    
       background-color: white;
       
       
       

       padding-left: 60px;
    }
     
        .mybtnIn{
            margin-top:5ex;
            background-color:rgb(33, 118, 197);
            color: white;
    
            display: block;
        width: 500px;
        margin-left: 130px;
        } 
        .mybtnIn:hover{

          color:rgba(13, 114, 47, 0.911);
        }
    
        .Myform{
/*     
           margin-left: 200px;
          
           /* display:inline-flexbox; */
           /* border: 2px white;
           border-style:double;
           border-radius: 30px; */
          
           
           /* height: 70vh; */
           padding-left: 50px;
           height: 300px;
           /* width: 1455px; */
          
        
        }
        .i4{
    
    
          margin-top: -40px;
    margin-bottom: -35px;
    margin-left: 360px;
    height: 27px;
        }
        .i3{
          /* margin-top: -30px; */
          margin-bottom: -38px;
          margin-left: 360px;
          height: 28px;
    
        }
        
        
        .b2{

          margin-left: 290px;


        }
        
        .hr{


height: 10px;
background-color: rgb(116, 114, 114);
margin-left: 70px;

        }
        @media (max-width:993px) {


          .headerIn{
            
            margin-left:200px;
            margin-top: 40px;
            font-size: 20px;
            margin-bottom: 20px;
            
            
            }
            .form-control{

width: 240px;

            }
           

            .i4{
    
    
              /* margin-top: -40px; */
        margin-bottom: -35px;
        margin-left: 208px;
        height: 27px;
            }
            .i3{
              /* margin-top: -30px; */
              margin-bottom: -38px;
              margin-left: 208px;
              height: 28px;
        
            }
            .hr{


              height: 10px;
              background-color: rgb(116, 114, 114);
              margin-left: 30px;
              
                      }

                      .Myform{
                        /*     
                                   margin-left: 200px;
                                  
                                   
                                   /* border: 2px white;
                                   border-style:double;
                                   border-radius: 30px; */
                                  
                                   
                                   /* height: 70vh; */
                                   padding-left: 50px;
                                   height: 300px;
                                   width: 55px;
                                   display:inline-flexbox;
                                   flex-direction: column;
                                  
                                
                                }


                                .mybtnIn{
                                  margin-top:5ex;
                                  background-color:rgb(33, 118, 197);
                                  color: white;
                          
                                  display: block;
                              width: 300px;
                              margin-left: 8px;
                              } 
        }

        