.headerlog{
color:rgb(33, 118, 197);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 70px;
margin-top: 50px;
font-size: 60px;


}
.link1{
margin-left: 110px;

}


    .mybtn{
        margin-top:5ex;
        background-color:rgb(33, 118, 197);
        color: white;

    display: block;
    width: 400px;
    } 

    .orm{

       margin-left: 130px;
       margin-right: -60px;;
       display: block;
       border-right: 2px rgb(197, 192, 192) groove;
       padding-right: 80px;
       width: 5px;
       
    
    }
    .i1{


      margin-top: -40px;
margin-bottom: -35px;
margin-left: 360px;
height: 27px;
    }
    .i2{
      /* margin-top: -30px; */
      margin-bottom: -38px;
      margin-left: 360px;
      height: 28px;

    }
   
    .b{

      background-image: url(https://us.123rf.com/450wm/iconicbestiary/iconicbestiary1603/iconicbestiary160300183/54217126-soci%C3%A9t%C3%A9-informatique-au-travail-groupe-des-d%C3%A9veloppeurs-de-logiciels-de-codage-des-gens-ensemble-ass.jpg?ver=6);
      background-size: 600px;
          background-repeat: no-repeat;
          margin-left: 90px;
    
    }


      