.headerlogin{
    color: #31a2eeb2;
    
    
    
    }
     .jumbo{
    
        background-color: white;
        
        height: auto;
        /* margin-left: 250px ; */
        /* margin-right: 300 ; */
        margin-top: 60px;
        margin-bottom: 90px;
        border: none solid;
        border-radius: 2ex;
        box-shadow: 2px 0px 30px -10px rgb(17, 16, 16);
        width:600px;
      
        } 
        .mybtn{
            margin-top:5ex;
            background-color: rgb(0, 110, 255);
            color: white;
    
        display: block;
        } 
    
        .forme{
    
           margin-left: 80px;
           margin-right: 50px;;
           display: block;
        
        }
        .bg1{

            height: 110vh;
        
            
            }

            .i{

margin-top: -40px;
margin-bottom: 30px;
margin-left: 360px;


            }