.div1{

/* border: 2px solid; */
background-color: black;
height:auto;
width:100%;
/* background-image: url(https://mobimg.b-cdn.net/v3/fetch/63/634a5e99d9789edb51ef4fb1bb387f6f.jpeg); */
background-repeat: no-repeat;
/* background-size:    14000px; */
background-attachment: scroll;
background-blend-mode:color-dodge;
align-items: center;
}
.title1{

    font-family:'Times New Roman', Times, serif;
    font-size:1000%;
    color: rgb(67, 21, 194);
    /* position:relative; */
    
    }
    .title1:hover{

        color: blue;
        /* border: 70px; */
    }

.bT1{

    width: 50%;
    height: 60px;
    margin-bottom: 60px;
    /* display: block; */
}
.bT2{

    width: 50%;
    height: 60px;
    /* display: block; */
}
/* .bT1:hover{

    color: rgb(211, 230, 105);
} */

.R1{
margin-top: 110px;
margin-left: 160px;

}
.div2{
display: none;


}


@media(   max-width:800px    ) and (min-width:280px) {

.title1{

    font-size:600%;
    /* padding-left: -50px; */


}

.div1{


    width: auto;
    height: 100vh;
}
.bT1{

    width: 190px;
    
   
}
.bT2{

    width: 190px;
    
   
}
.R1{

    flex-direction: column;
    align-items: center
    ;
}
}